---
import Layout   from '../layouts/Layout.astro';
import Nav      from '../components/Nav.astro';
import Hero     from '../components/Hero.astro';
import About    from '../components/About.astro';
import Skills   from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Contact  from '../components/Contact.astro';
---

<Layout title="Agustín Monti — Portfolio">
  <Nav />
  <main>
    <Hero />
    <div class="divider"></div>
    <About />
    <div class="divider"></div>
    <Skills />
    <div class="divider"></div>
    <Projects />
    <div class="divider"></div>
    <Contact />
  </main>
</Layout>
